<div *ngIf="pokemon" style="display: flex;justify-content: center;">
    <mat-card class="example-card" style="max-width: 600px; margin-bottom: 20px;">
        <mat-card-header>
            <div mat-card-avatar>
                <img
                    mat-card-image
                    src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png"
                    alt="Photo of a Shiba Inu"
                />
            </div>
            <mat-card-title> pokemon.name </mat-card-title>
            <mat-card-subtitle> pokemon.types </mat-card-subtitle>
        </mat-card-header>

        <img
            mat-card-image
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png"
            alt="Photo of a Shiba Inu"
        />

        <mat-card-content>
            <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Personal data
                    </mat-panel-title>
                    <!-- <mat-panel-description>
                      Type your name and age
                    </mat-panel-description> -->
                  </mat-expansion-panel-header>
              
                  <mat-list>
                    <mat-list-item>
                      <p mat-line>weight: <span>60</span></p>
                    </mat-list-item>

                    <mat-list-item>
                        <p mat-line>height: <span>60</span></p>
                      </mat-list-item>

                      <mat-list-item>
                        <p mat-line>default: <span>Yes</span></p>
                      </mat-list-item>

                      <mat-list-item>
                        <p mat-line>Base Experience: <span>545</span></p>
                      </mat-list-item>
  

                  </mat-list>
                </mat-expansion-panel>

                <!-- <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Self aware panel
                    </mat-panel-title>
                    <mat-panel-description>
                      Currently I am {{panelOpenState ? 'open' : 'closed'}}
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <p>I'm visible because I am open</p>
                </mat-expansion-panel> -->
              </mat-accordion>

        </mat-card-content>

        <!-- <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions> -->
    </mat-card>
</div>