<div *ngIf="pokemon" style="background-color: rebeccapurple;">
    <button (click)="goBack()"> back </button>
    <span>{{ pokemon.id }}</span>
    <h1 style="color: red; font-size: 45px; text-transform: uppercase;">{{ pokemon.name }}</h1>
    <p style="text-transform: capitalize;font-size: 25px;">
        weight: {{ pokemon.weight }}
        height: {{ pokemon.height }}
        base experience: {{ pokemon.base_experience }}
        default: {{ pokemon.is_default ? 'Yes' : 'No' }}
        types: {{ pokemon.weight }}
        abilities: {{ pokemon.weight }}
        weight: {{ pokemon.weight }}
    </p>
</div>

