<div *ngIf="pokemon" class="detail-container">
    <mat-card class="example-card" class="detail-card">
        <mat-card-header>
            <div mat-card-avatar>
                <img
                    mat-card-image
                    src="{{ image }}"
                    alt="Photo of a Shiba Inu"
                />
            </div>
            <mat-card-title> {{ pokemon.name }} </mat-card-title>
            <mat-card-subtitle>
              <p><b>types:</b>
                <span *ngFor="let item of pokemon.types">
                  • {{ item.type.name }}
                </span>
              </p>
          </mat-card-subtitle>
        </mat-card-header>

        <img mat-card-image src="{{ image }}" alt="pokemon-img" />

        <mat-card-content>
            <mat-accordion>
                <mat-expansion-panel [expanded]="true">
                  <mat-expansion-panel-header>
                    <mat-panel-title>Personal data</mat-panel-title>
                    <mat-panel-description>
                      Order {{ pokemon.order }}
                    </mat-panel-description>
                  </mat-expansion-panel-header>
              
                  <mat-list>
                    <mat-list-item>
                      <p mat-line>weight: <span>{{ pokemon.weight }}</span></p>
                    </mat-list-item>

                    <mat-list-item>
                        <p mat-line>height: <span>{{ pokemon.height }}</span></p>
                      </mat-list-item>

                      <mat-list-item>
                        <p mat-line>default: <span>{{ pokemon.is_default ? 'Yes' : 'No' }}</span></p>
                      </mat-list-item>

                      <mat-list-item>
                        <p mat-line>Base Experience: <span>{{ pokemon.base_experience }}</span></p>
                      </mat-list-item>
                  </mat-list>
                </mat-expansion-panel>

                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>Abilities</mat-panel-title>
                  </mat-expansion-panel-header>
              
                  <mat-list>
                    <mat-list-item *ngFor="let item of pokemon.abilities">
                      • {{ item.ability.name }}
                    </mat-list-item>
                  </mat-list>
                </mat-expansion-panel>
              </mat-accordion>

        </mat-card-content>

        <button (click)="getEvoluctions()">GET EVOLUTIONS</button>

        <!-- <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions> -->
    </mat-card>
</div>